<footer class="site-footer">
    <div class="footer-content">
      <ul class="social-links">
        <li>
          <a href="https://github.com/theadell/" class="social-link" aria-label="GitHub">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <!-- 
          <li>
            <a href="https://linkedin.com/in/yourusername" class="social-link" aria-label="LinkedIn">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/yourusername" class="social-link" aria-label="Twitter">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
        -->
          <a href="mailto:me@adelhub.com" class="social-link" aria-label="Email">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
  
