<header class="site-header">

  <div class="header-content">
    <div class="logo">
      <a href="/" class="logo__link">
        ESE - Class 24
      </a>
    </div>



    <nav class="main-navigation">
      <ul class="nav-list">

        <li class="nav-item">
          <a href="/calendar" class="nav-link {{ if eq .RelPermalink "/calendar/" }}active{{ end }}">calendar</a>
        </li>
        <li class="nav-item">
          <a href="/notes" class="nav-link {{ if eq .RelPermalink "/notes/" }}active{{ end }}">notes</a>

        <!-- 
        <li class="nav-item">
          <a href="/projects" class="nav-link {{ if eq .RelPermalink "/projects/" }}active{{ end }}">Projects</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link {{ if eq .RelPermalink "/about/" }}active{{ end }}">About</a>
        </li>

-->
        <li class="nav-item theme-toggle-wrapper">
          <button id="theme-toggle" class="theme-toggle" aria-label="Toggle theme">
            <i id="theme-icon" class="fas fa-sun"></i>
          </button>
        </li>
      </ul>
    </nav>
</div>

</header>
